<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
        <string>music</string>
        <string>applenews</string>
        <string>itms-apps</string>
        <string>videos</string>
        <string>calshow</string>
        <string>clips</string>
        <string>contacts</string>
        <string>diagnostics</string>
        <string>facetime-audio</string>
        <string>facetime</string>
        <string>applefeedback</string>
        <string>findmyfriends</string>
        <string>fmip1</string>
        <string>gamecenter</string>
        <string>garageband</string>
        <string>ibooks</string>
        <string>appleiclouddrive</string>
        <string>imovie</string>
        <string>remote</string>
        <string>itms</string>
        <string>itms-itunesu</string>
        <string>map</string>
        <string>mailto</string>
        <string>sms</string>
        <string>mobilenotes</string>
        <string>tel</string>
        <string>photos-redirect</string>
        <string>pcast</string>
        <string>x-apple-reminder</string>
        <string>App-prefs</string>
        <string>voicememos</string>
        <string>shoebox</string>
        <string>itms-watch</string>
        <string>workflow</string>
        <string>achievement</string>
        <string>fb1431194636974533</string>
        <string>amc</string>
        <string>fb1414385748867269suffix</string>
        <string>fb1761190244145574amplifi</string>
        <string>ancestry</string>
        <string>anchorfm</string>
        <string>com.popcap.ios.BejBlitz</string>
        <string>brushstroke</string>
        <string>cakeslice</string>
        <string>cameraplus</string>
        <string>squarecash</string>
        <string>fb1475268786112433</string>
        <string>clashofclans</string>
        <string>doordash</string>
        <string>fb225826214141508paid</string>
        <string>dbapi-1</string>
        <string>ddgLaunch</string>
        <string>duolingo</string>
        <string>fb</string>
        <string>facetune</string>
        <string>fandango</string>
        <string>fitbit</string>
        <string>flickr</string>
        <string>gboard</string>
        <string>googlegmail</string>
        <string>goodreads</string>
        <string>google</string>
        <string>googleassistant</string>
        <string>googlecalendar</string>
        <string>googledocs</string>
        <string>googlechrome</string>
        <string>googledrive</string>
        <string>googleearth</string>
        <string>comgooglekeep</string>
        <string>googlemaps</string>
        <string>googlephotos</string>
        <string>googlesheets</string>
        <string>googletranslate</string>
        <string>googlevoice</string>
        <string>halide</string>
        <string>hbogo</string>
        <string>hbonow</string>
        <string>hulu</string>
        <string>hyperlapse</string>
        <string>imdb</string>
        <string>instagram</string>
        <string>lastpass</string>
        <string>launch</string>
        <string>litely</string>
        <string>fb-messenger</string>
        <string>moviepass</string>
        <string>nflx</string>
        <string>paypal</string>
        <string>photoscan</string>
        <string>pinterest</string>
        <string>sgnl</string>
        <string>skype</string>
        <string>snapchat</string>
        <string>speedtest</string>
        <string>spotify</string>
        <string>steller</string>
        <string>tumblr</string>
        <string>twitch</string>
        <string>twitter</string>
        <string>tweetbot</string>
        <string>vimeo</string>
        <string>vsco</string>
        <string>waze</string>
        <string>whatsapp</string>
        <string>youtube</string>
        <string>kakaotalk</string>
        <string>between</string>
        <string>navercal</string>
        <string>smartbank2WB</string>
        <string>smartbaedal</string>
        <string>mtworldapp2</string>
        <string>navermaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
