<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   test.plist
   EasyRun

   Created by sgcs on 2018. 5. 28..
   Copyright (c) 2018년 sgcs. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
